#!/usr/bin/env nextflow

process {
    /*
    *  Process settings
    */

    publishDir  = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy'
    ]

    withName: "MEMESUITE_FIMO" {
        ext.args = "-oc ./fimo_output"
    }

    withName: "BEDTOOLS_GETFASTA" {
        ext.args = "-name"
    }

    withName: "ANNOTATE_MOTIF_HITS" {
        ext.args = "--gene_name_col 'Gene.Name' --gene_id_col 'Entrez.ID'"
    }

    withName: "ANNOTATE_PEAKS_TO_GTF" {
        ext.args = "--window 200000"
    }
}