#!/usr/bin/env nextflow

process {
    
    /*
    *  Process settings
    */

    publishDir  = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy'
    ]

    withName: 'MEMESUITE_FIMO' {
        ext.args   = {
            [
                '-oc ./fimo_output',
                params.fimo_pval    ? "--thresh ${params.fimo_pval}" : ''
            ].join(' ').trim()
        }
    }

    withName: "BEDTOOLS_GETFASTA" {
        ext.args = "-name"
    }

    withName: "ANNOTATE_MOTIF_HITS" {
        ext.args = "--gene_name_col ${params.gene_name_col} --gene_id_col ${params.gene_id_col}"
    }

    withName: "EXTRACT_GTF_WINDOW_COORDINATES" {
        ext.args = "-w ${params.enhancer_window} -x ${params.gene_id_col} -n ${params.gene_name_col}"
    }

    withName: 'GFFREAD' {
        ext.args   = '--keep-exon-attrs -F -T'
    }
}