/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run CI
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    extend_peaks                = 50
    enhancer_window             = 100000

    // extend_peaks = 100
    
    // fasta = "$baseDir/test_data/Gallus_gallus.GRCg6a.dna.toplevel.fa"
    fasta = "/Users/thierya/dev/repos/motif_enhancer_screening/test_data/Gallus_gallus.GRCg6a.dna.toplevel.fa"
    // fasta = "http://ftp.ensembl.org/pub/release-106/fasta/gallus_gallus/dna/Gallus_gallus.GRCg6a.dna.toplevel.fa.gz"
    motif_matrix = "$baseDir/test_data/six1_motifs.txt"
    peaks_bed = "$baseDir/test_data/peaks.bed"
    gtf = "/Users/thierya/dev/genomes/galgal6/97/Gallus_gallus.GRCg6a.97.gtf"
    gene_ids = "/Users/thierya/dev/repos/motif_enhancer_screening/test_data/de_gene_ids.txt"
}