/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run CI
    max_cpus                    = 2
    max_memory                  = '6.GB'
    max_time                    = '6.h'

    extend_peaks                = 50
    enhancer_window             = 100000
    
    // fasta                    = "/Users/thierya/dev/repos/enhancer_annotation_and_motif_analysis/test_data/Gallus_gallus.GRCg6a.dna.toplevel.fa"
    fasta                       = "http://ftp.ensembl.org/pub/release-97/fasta/gallus_gallus/dna/Gallus_gallus.GRCg6a.dna.toplevel.fa.gz"
    // gtf                      = "/Users/thierya/dev/genomes/galgal6/97/Gallus_gallus.GRCg6a.97.gtf"
    gtf                         = "http://ftp.ensembl.org/pub/release-97/gtf/gallus_gallus/Gallus_gallus.GRCg6a.97.gtf.gz"
    motif_matrix                = "$baseDir/test_data/six1_motifs.txt"
    peaks_bed                   = "$baseDir/test_data/peaks.bed"
    gene_ids                    = "$baseDir/test_data/gene_ids.txt"
}