#!/usr/bin/env nextflow

process {
    /*
    *  Process settings
    */

    publishDir  = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy'
    ]

    withName: "MEMESUITE_FIMO" {
        ext.args = "-oc ./fimo_output"
    }

    withName: "ANNOTATE_MOTIF_HITS" {
        ext.args = "--gene_name_col Gene Name --gene_id_col Entrez ID"
    }
}