docker.enabled = true
conda.enabled = false

params {
  max_memory = 14.GB
  max_cpus = 10
  max_time = 1.h
}

params {
  fasta = "$baseDir/test_data/Gallus_gallus.GRCg6a.dna.toplevel.fa"
  enhancer_bed = "$baseDir/test_data/otic_gene_putative_enhancers.bed"
  motif_matrix = "$baseDir/test_data/soxE_motifs.txt"
  annotated_enhancers = "$baseDir/test_data/putative_enhancers_annotated.txt"
}